*{
	box-sizing: border-box;
}

/*font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Bellefair', serif;
	background-color: #FFE4C4;
	font-size: 16px;
}

.clearfix:after {
	clear: both;
	line-height: 0;
	display: table;
	content: '';
}

h2 {
	color: #D2691E;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	color: #8B4513;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*----------HEADER----------*/
.brown {
	background-color: #D2691E;
	border-top: solid 2px #8B4513;
	border-bottom: solid 2px #8B4513;
	margin-top: 30px;
	height: 100px;
}

.img-logo {
	border-radius: 50px;
	border: solid 4px #FFE4C4;
	margin-top: -24px;
	margin-left: 40px;
	transition: 0.5s;
}

.logo:hover {
	transform: scale(1.1);
}

.logo, .name {
	float: left;
}

.reg {
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

.reg > ul > li {
	display: inline;
}

.reg > ul > li > a:hover {
	color: #000000;
	border: solid 2px #000000;
}

.reg > ul > li > a {
	padding: 10px;
	margin-left: 10px;
	border: solid 2px #FFE4C4;
	border-radius: 15px;
	text-decoration: none;
	color: #FFE4C4;
}

.block {
	font-size: 2.5em;
	display: block;
	margin-left: 20px;
}

.klas {
	text-shadow: 1px 1px #FFE4C4;
}

.block2 {
	display: block;
	margin-left: 20px;
}

.name {
	margin-top: 20px;
}

/*----------NAVIGATION----------*/
.menu {
	text-align: right;
}

ul.menu > li {
	display: inline-block;
}

ul.menu > li > a {
	text-decoration: none;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	color: #D2691E;
}

ul.menu > li:hover > a {
	color: #FFE4C4;
	background-color: #D2691E;
}

.submenu > div > ul > li > a:hover {
	color: #000000;
}

div.submenu {
	background-color: #D2691E;
	padding-top: 20px;
	padding-bottom: 20px;
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 219px;
	max-width: 940px;
	margin: 0 auto;
}

.left li a {
	color: #FFE4C4;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.left li {
	display: block;
}

strong {
	color: #afdefa;
}

li:hover .submenu {
	display: block;
}

.left {
	width: 50%;
	float: left;
	text-align: center;
}

.book1 {
	margin-top: 1px;
	margin-bottom: 12px;
	background-image: url("../img/book1.jpg");
	background-position: center;
	height: 218px;
}

/*----------FLEX SLIDER----------*/
.flex-direction-nav .flex-next {
	right: 0!important;
}
.flex-direction-nav .flex-prev {
	left: 0!important;
}

/*----------NEWS----------*/
.new-book {
	border: solid 1px #8B4513;
	border-radius: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.user-image, .data {
	float: left;
}

.user-image > img {
	border-radius: 7px;
}

.book-info {
	float: left;
}

.user-image > img {
	max-width: 50px;
    max-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/*----------FOOTER----------*/
.footer {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
}

.color {
	color: #808000;
}

/*----------LOGIN----------*/
.panel-default {
	background-color: #D2691E;
}

.panele {
	margin-top: 20px;
	background-color: #D2691E;
	border-color: #8B4513;
	line-height: 20px;
	border: solid 2px #8B4513;
	padding-left: 0;
	padding-right: 0;
	width: 940px;
	margin:0 auto;
}

.panel-heading {
	background-color: #D2691E!important;
	border-color: #8B4513!important;
}

/*----------CONTACTS----------*/
.contacts-img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 15px;
	border-radius: 5px;
}

/*----------BOOK LIST----------*/
.book-list {
	background-color: #FFB775;
	margin-bottom: 5px;
	border-top: solid 2px #8B4513;
	border-bottom: solid 2px #8B4513;
}

.book-list-reset {
	margin-left: 0;
	padding-left: 0;
	margin-top: 5px;
}

.resize {
	resize: none;
}

.cage {
	border: solid 2px #8B4513;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	line-height: 150%;
	background-color: #D2691E;
}

.one, .two {
	float: left;
}

.one {
	width: 50%;
}

.two {
	width: 50%;
}

/*----------COMMENT BOX----------*/
.comment-box {
	border: solid 2px #8B4513;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #FFE4C4;
	resize: none;
}

.comment-right {
	margin-right: 10px;
}

.margin_bottom {
	margin-bottom: 30px;
}

.btn-comment {
	background-color: #8B4513;
	color: #FFE4C4;
	border: 0;
}

.btn-comment:hover {
	background-color: #FFB775;
	color: #000000;
}

/*----------COMMENTS----------*/
.comma {
	border: solid 2px #8B4513;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.comma-left, .comma-center {
	float: left;
}

.comma-left {
	background-color: #D2691E;
	width: 100px;
	height: 120px;
}

.comma-right {
	background-color: #D2691E;
	width: 50px;
	height: 120px;
	float: right;
}

.comment-name, .comment-date {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
}

.comment-comment {
	margin-left: 10px;
	margin-top: 5px;
}

.comment-face {
	max-width: 50px;
    max-height: 50px;
    margin: 10px 10px;
    border-radius: 7px;
    margin-left: 23px;
}

/*----------Quotes----------*/

.quote-show {
	margin-top: 10px;
	padding: 10px;
	border: solid 2px #8B4513;
	border-radius: 7px;
	min-height: 100px;
}

/*----------HELPERS----------*/
.margin-top {
	margin-top: 5px;
}

.padding-seven {
	padding: 7px;
}

.img-styles {
	height: 250px;
	margin: auto;
}

.img-styles-second {
	max-width: 900px;
	max-height: 900px;
	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
}

.pav {
	margin-top: 5px;
	color: #000000;
	font-weight: bold;
}

.quote-back {
	background-color: white;
	line-height: 1.5;
}

.font-weight {
	font-weight: bold;
}

/*         _
       .__(.)<
        \___)   
 ~~~~~~~~~~~~~~~~~~*/

 /*---------MOBILE----------*/

@media (max-width: 767px) {
	/*aside {
		display: none;
	}
	
	.container {
		max-width: 100%;
	}

	main {
		float: none;
		padding: 1em;
		width: 100%;
	}
	
	nav, h1 {
	font-size: 1em;
	}
	
	nav li {
		display: block;
	}
*/

.block {
	font-size: 20px;
}

.block2 {
	font-size: 16px;
}

.brown {
	height: auto;
}

.reg {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.two {
	display: none;
}

.one {
	float: none;
	width: 100%;
}

.comment-box {
	margin-bottom: 10px;
}